 @import "tailwindcss";

 @theme {
  --color-charcoal: #1f1f1f;
  --color-forest: #1f4134;
  --color-olive: #5b6929;
  --color-navy: #2c3953;
  --color-slate: #637486;
  --color-cream: #dddbce;

  --font-display: "Dangrek", sans-serif;
  --font-body: "AR One Sans", sans-serif;
 }